/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'comfortaabold';
  src: url("../fonts/comfortaa-bold-webfont.eot");
  src: url("../fonts/comfortaa-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa-bold-webfont.woff") format("woff"), url("../fonts/comfortaa-bold-webfont.ttf") format("truetype"), url("../fonts/comfortaa-bold-webfont.svg#comfortaabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comfortaalight';
  src: url("../fonts/comfortaa-light-webfont.eot");
  src: url("../fonts/comfortaa-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa-light-webfont.woff") format("woff"), url("../fonts/comfortaa-light-webfont.ttf") format("truetype"), url("../fonts/comfortaa-light-webfont.svg#comfortaalight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comfortaaregular';
  src: url("../fonts/comfortaa-regular-webfont.eot");
  src: url("../fonts/comfortaa-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa-regular-webfont.woff") format("woff"), url("../fonts/comfortaa-regular-webfont.ttf") format("truetype"), url("../fonts/comfortaa-regular-webfont.svg#comfortaaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
    Mobile Menu Core Style
*/
/* line 5, ../sass/slicknav.scss */
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}

/* line 6, ../sass/slicknav.scss */
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}

/* line 7, ../sass/slicknav.scss */
.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}

/* line 8, ../sass/slicknav.scss */
.slicknav_menu .slicknav_no-text {
  margin: 0;
}

/* line 9, ../sass/slicknav.scss */
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* line 10, ../sass/slicknav.scss */
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}

/* line 11, ../sass/slicknav.scss */
.slicknav_nav {
  clear: both;
}

/* line 13, ../sass/slicknav.scss */
.slicknav_nav ul,
.slicknav_nav li {
  display: block;
}

/* line 14, ../sass/slicknav.scss */
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}

/* line 15, ../sass/slicknav.scss */
.slicknav_nav .slicknav_item {
  display: block;
  cursor: pointer;
}

/* line 16, ../sass/slicknav.scss */
.slicknav_nav a {
  display: block;
}

/* line 17, ../sass/slicknav.scss */
.slicknav_nav .slicknav_item a {
  display: inline;
}

/* line 19, ../sass/slicknav.scss */
.slicknav_menu:before,
.slicknav_menu:after {
  content: " ";
  display: table;
}

/* line 20, ../sass/slicknav.scss */
.slicknav_menu:after {
  clear: both;
}

/* IE6/7 support */
/* line 22, ../sass/slicknav.scss */
.slicknav_menu {
  *zoom: 1;
}

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
/* line 29, ../sass/slicknav.scss */
.slicknav_menu {
  font-size: 16px;
}

/* Button */
/* line 33, ../sass/slicknav.scss */
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222222;
}

/* Button Text */
/* line 43, ../sass/slicknav.scss */
.slicknav_menu .slicknav_menutxt {
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 1px 3px #000;
}

/* Button Lines */
/* line 49, ../sass/slicknav.scss */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}

/* line 52, ../sass/slicknav.scss */
.slicknav_menu {
  background: #4c4c4c;
  padding: 5px;
}

/* line 56, ../sass/slicknav.scss */
.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
}

/* line 62, ../sass/slicknav.scss */
.slicknav_nav, .slicknav_nav ul {
  list-style: none;
  overflow: hidden;
}

/* line 66, ../sass/slicknav.scss */
.slicknav_nav ul {
  padding: 0;
  margin: 0 0 0 20px;
}

/* line 70, ../sass/slicknav.scss */
.slicknav_nav .slicknav_item {
  padding: 5px 10px;
  margin: 2px 5px;
}

/* line 74, ../sass/slicknav.scss */
.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #fff;
}

/* line 80, ../sass/slicknav.scss */
.slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0;
}

/* line 84, ../sass/slicknav.scss */
.slicknav_nav .slicknav_item:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #fff;
}

/* line 91, ../sass/slicknav.scss */
.slicknav_nav a:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #222;
}

/* line 98, ../sass/slicknav.scss */
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}

/* line 4, ../sass/dbp.scss */
body {
  font-family: 'comfortaaregular';
  height: 100%;
  overflow-y: scroll;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -webkit-perspective: 1000px;
}

/* line 15, ../sass/dbp.scss */
p {
  font-family: 'comfortaalight';
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}

/* line 16, ../sass/dbp.scss */
h2 {
  font-family: 'comfortaabold' !important;
  color: #a6fbfa !important;
  font-size: 1.1em;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

/* line 21, ../sass/dbp.scss */
h2:hover {
  color: #f9ffff !important;
}

/* line 23, ../sass/dbp.scss */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* line 24, ../sass/dbp.scss */
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* line 26, ../sass/dbp.scss */
.txtGold {
  color: #a6fbfa;
}

/* line 30, ../sass/dbp.scss */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 4;
  top: 0px;
  -webkit-transition: top 0.3s ease-out;
  -webkit-transition-delay: 1s;
  -moz-transition: top 0.3s ease-out 1s;
  -o-transition: top 0.3s ease-out 1s;
  transition: top 0.3s ease-out 1s;
}

/* line 39, ../sass/dbp.scss */
footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: -100px;
  z-index: 4;
  -webkit-transition: bottom 0.3s ease-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition: bottom 0.3s ease-out 0.1s;
  -o-transition: bottom 0.3s ease-out 0.1s;
  transition: bottom 0.3s ease-out 0.1s;
}

/* Viewport */
/* line 49, ../sass/dbp.scss */
#viewport, #overlay {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 20px;
  z-index: 1;
}

/* line 59, ../sass/dbp.scss */
#viewport {
  overflow: hidden;
  position: fixed;
  height: 120%;
}

/* line 65, ../sass/dbp.scss */
#overlay {
  z-index: 2;
  position: absolute;
  display: none;
}

/* line 71, ../sass/dbp.scss */
#wall {
  width: 100%;
  height: 100%;
  background: #252525;
}

/* line 77, ../sass/dbp.scss */
.tile {
  overflow: hidden;
  opacity: 0;
  background: #252525;
  border: 1px solid #212121;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 87, ../sass/dbp.scss */
.tile:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  border: 3px solid #a6fbfa;
  z-index: 99;
  cursor: pointer;
}

/* line 97, ../sass/dbp.scss */
.tileIn {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 102, ../sass/dbp.scss */
.img-in {
  -webkit-transform: translateY(100);
  -moz-transform: translateY(100);
  -ms-transform: translateY(100);
  -o-transform: translateY(100);
  transform: translateY(100);
}

/* line 108, ../sass/dbp.scss */
.tileImg {
  width: 100%;
  height: 100%;
}

/* line 115, ../sass/dbp.scss */
.tab-info, .title-info {
  font-size: 10px;
  color: white;
  padding: 12px;
  padding-top: 5px;
  background: #252525;
  height: 50px;
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-delay: 0.1s;
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
}

/* line 128, ../sass/dbp.scss */
.tab-info {
  padding-top: 5%;
  bottom: -70%;
  font-size: 14px;
  display: block;
}

/* line 135, ../sass/dbp.scss */
.tab-info:hover {
  background: white;
  color: #252525;
}

/* line 140, ../sass/dbp.scss */
.title-info {
  bottom: 100%;
  height: 120%;
  padding-top: 25%;
  font-size: 16px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: -webkit-gradient(linear, 100% 100%, 0% 0%, color-stop(0%, #181713), color-stop(100%, #252525));
  background: -webkit-linear-gradient(bottom right, #181713, #252525);
  background: -moz-linear-gradient(bottom right, #181713, #252525);
  background: -o-linear-gradient(bottom right, #181713, #252525);
  background: linear-gradient(bottom right, #181713, #252525);
}

/* line 151, ../sass/dbp.scss */
.tab-in {
  bottom: -7%;
}

/* line 155, ../sass/dbp.scss */
.title-in {
  bottom: 0px;
}

/* line 160, ../sass/dbp.scss */
#prj-sect {
  padding-top: 100px;
}

/* line 165, ../sass/dbp.scss */
.brand, .close {
  cursor: pointer;
}

/* line 169, ../sass/dbp.scss */
.close {
  right: 29px;
  padding-top: 20px;
  text-align: right;
}

/* line 176, ../sass/dbp.scss */
.imgFeature {
  position: relative;
  width: 100%;
  padding-bottom: 45%;
  height: 0;
  margin: 0%;
  overflow: hidden;
  background-color: #000;
  border: 1px solid #537d7d;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 188, ../sass/dbp.scss */
.imgFeature:hover {
  border: 1px solid #a6fbfa;
}

/* line 193, ../sass/dbp.scss */
.info-sect {
  background: #000000;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;
  top: 100px;
  left: 0%;
  display: none;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: -webkit-gradient(linear, 100% 100%, 0% 0%, color-stop(0%, #181713), color-stop(100%, #252525));
  background: -webkit-linear-gradient(bottom right, #181713, #252525);
  background: -moz-linear-gradient(bottom right, #181713, #252525);
  background: -o-linear-gradient(bottom right, #181713, #252525);
  background: linear-gradient(bottom right, #181713, #252525);
  z-index: 3;
}

/* line 213, ../sass/dbp.scss */
.preload {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transition-delay: 0.8s;
  -moz-transition: all 0.2s ease-out 0.8s;
  -o-transition: all 0.2s ease-out 0.8s;
  transition: all 0.2s ease-out 0.8s;
}

/* line 220, ../sass/dbp.scss */
.spinner {
  position: absolute;
  border: 1px solid #a6fbfa;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -50px;
  text-align: center;
  line-height: 95px;
  font-size: 1.3em;
  width: 100px;
  height: 100px;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-transition: all 3s cubic-bezier(0, 1.8, 1, 1.8);
  -webkit-transition-delay: 0s;
  -moz-transition: all 3s cubic-bezier(0, 1.8, 1, 1.8) 0s;
  -o-transition: all 3s cubic-bezier(0, 1.8, 1, 1.8) 0s;
  transition: all 3s cubic-bezier(0, 1.8, 1, 1.8) 0s;
}

/* line 239, ../sass/dbp.scss */
.gradGold {
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #a6fbfa), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top left, #a6fbfa, #ffffff);
  background: -moz-linear-gradient(top left, #a6fbfa, #ffffff);
  background: -o-linear-gradient(top left, #a6fbfa, #ffffff);
  background: linear-gradient(top left, #a6fbfa, #ffffff);
}

/* line 243, ../sass/dbp.scss */
.gradBlack {
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #181713), color-stop(100%, #252525));
  background: -webkit-linear-gradient(top left, #181713, #252525);
  background: -moz-linear-gradient(top left, #181713, #252525);
  background: -o-linear-gradient(top left, #181713, #252525);
  background: linear-gradient(top left, #181713, #252525);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

/* line 252, ../sass/dbp.scss */
.gradBG {
  background: -webkit-gradient(linear, 100% 100%, 0% 0%, color-stop(0%, #181713), color-stop(100%, #252525));
  background: -webkit-linear-gradient(bottom right, #181713, #252525);
  background: -moz-linear-gradient(bottom right, #181713, #252525);
  background: -o-linear-gradient(bottom right, #181713, #252525);
  background: linear-gradient(bottom right, #181713, #252525);
}

/* line 256, ../sass/dbp.scss */
.gradBG2 {
  background: -webkit-gradient(linear, 100% 100%, 0% 0%, color-stop(0%, #181713), color-stop(100%, #a6fbfa));
  background: -webkit-linear-gradient(bottom right, #181713, #a6fbfa);
  background: -moz-linear-gradient(bottom right, #181713, #a6fbfa);
  background: -o-linear-gradient(bottom right, #181713, #a6fbfa);
  background: linear-gradient(bottom right, #181713, #a6fbfa);
}

/* line 260, ../sass/dbp.scss */
#fullbg {
  height: 100%;
  width: 100%;
  left: 0px;
  position: fixed;
  z-index: 2;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background: -webkit-gradient(linear, 100% 100%, 0% 0%, color-stop(0%, #181713), color-stop(100%, #252525));
  background: -webkit-linear-gradient(bottom right, #181713, #252525);
  background: -moz-linear-gradient(bottom right, #181713, #252525);
  background: -o-linear-gradient(bottom right, #181713, #252525);
  background: linear-gradient(bottom right, #181713, #252525);
}

/* line 271, ../sass/dbp.scss */
.bgWhite {
  background: white;
}

/* line 275, ../sass/dbp.scss */
.minheight {
  min-height: 100px;
}

/* line 279, ../sass/dbp.scss */
.margT {
  padding-top: 1.275em;
}

/* line 283, ../sass/dbp.scss */
.topbar, .btmbar {
  width: 100%;
  height: 2px;
  position: absolute;
  z-index: 2;
}

/* line 290, ../sass/dbp.scss */
.btmbar {
  top: 97px;
}

/* line 296, ../sass/dbp.scss */
.logo-github {
  width: 73px;
  height: 30px;
  margin-top: 12px;
  right: 10px;
  position: absolute;
  -webkit-transition: all 0.2s cubic-bezier(0, 1.8, 1, 1.8);
  -moz-transition: all 0.2s cubic-bezier(0, 1.8, 1, 1.8);
  -o-transition: all 0.2s cubic-bezier(0, 1.8, 1, 1.8);
  transition: all 0.2s cubic-bezier(0, 1.8, 1, 1.8);
}

/* line 305, ../sass/dbp.scss */
.logo-tweet {
  width: 25px;
  height: 20px;
  margin-top: 17px;
  right: 90px;
  position: absolute;
  -webkit-transition: all 0.2s cubic-bezier(0, 1.8, 1, 1.8);
  -moz-transition: all 0.2s cubic-bezier(0, 1.8, 1, 1.8);
  -o-transition: all 0.2s cubic-bezier(0, 1.8, 1, 1.8);
  transition: all 0.2s cubic-bezier(0, 1.8, 1, 1.8);
}

/* line 314, ../sass/dbp.scss */
.logo {
  background: url("../imgs/logoIcon.svg") 0 0;
  background-size: 100% 100%;
  position: absolute;
  width: 80px;
  height: 70px;
  margin-top: 12px;
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* line 324, ../sass/dbp.scss */
.subtext1, .subtext2 {
  position: absolute;
  top: 34px;
  left: 100px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 331, ../sass/dbp.scss */
.subtext2 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  color: #a6fbfa;
  font-size: 10px;
  top: 55px;
}

/* line 338, ../sass/dbp.scss */
.contact, .navitem {
  font-family: 'comfortaabold';
  position: absolute;
  text-align: right;
  right: 20px;
  top: 40px;
  margin-right: 20px;
  cursor: pointer;
}

/* line 348, ../sass/dbp.scss */
.navitem {
  right: 117px;
}

/* line 352, ../sass/dbp.scss */
.nav1 {
  right: 260px;
}

/* line 355, ../sass/dbp.scss */
.nav2 {
  right: 190px;
}

/* line 361, ../sass/dbp.scss */
.navRing {
  border: 1px solid #ffffff;
  width: 15px;
  height: 15px;
  font-size: 11px;
  line-height: 10px;
  padding-top: 1px;
  padding-left: 2px;
  padding-right: 3px;
  position: absolute;
  top: 1px;
  right: -20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 377, ../sass/dbp.scss */
.close .navRing {
  top: 20px;
  right: -5px;
  width: 16px;
  height: 16px;
  padding-right: 4px;
}

/* line 386, ../sass/dbp.scss */
.info {
  width: 27%;
  left: 50%;
  margin-left: -17%;
  height: 37%;
  position: absolute;
  padding: 15px;
  padding-top: 11%;
  z-index: 2;
  color: #000;
  font-size: 1.5em;
  text-align: center;
  line-height: 37%;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 403, ../sass/dbp.scss */
.btm {
  bottom: -50%;
}

/* line 406, ../sass/dbp.scss */
.top {
  bottom: 100%;
}

/* line 410, ../sass/dbp.scss */
.desc {
  position: absolute;
  top: 0%;
  left: -110%;
  z-index: 2;
  width: 100%;
  height: 102%;
  padding: 4%;
  background: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 423, ../sass/dbp.scss */
#skills1 li, #skills2 li, #skills3 li, #techlist li {
  padding: .2rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  border-bottom: 1px solid #666666;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 432, ../sass/dbp.scss */
#skills1 li:nth-child(even), #skills2 li:nth-child(even), #skills3 li:nth-child(even), #techlist li:nth-child(even) {
  border-bottom: 1px solid #333333;
}

/* line 437, ../sass/dbp.scss */
.logo_hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 444, ../sass/dbp.scss */
.info_hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  border: 2px solid white;
  color: #537d7d;
}

/* line 451, ../sass/dbp.scss */
.desc_hover {
  left: 0%;
  width: 113%;
  height: 104%;
}

/* line 457, ../sass/dbp.scss */
.result_hover {
  bottom: 50%;
  margin-bottom: -13%;
  width: 27%;
  left: 50%;
  margin-left: -15%;
}

/* line 465, ../sass/dbp.scss */
.img_hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

/* line 473, ../sass/dbp.scss */
.icon_hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 478, ../sass/dbp.scss */
.ring_hover {
  color: #a6fbfa;
  border: 1px solid #537d7d;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

/* line 485, ../sass/dbp.scss */
.hide {
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 490, ../sass/dbp.scss */
.show {
  display: inline;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 496, ../sass/dbp.scss */
.hideHome {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 506, ../sass/dbp.scss */
.preloadHide {
  top: -200px !important;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

/* line 513, ../sass/dbp.scss */
.projectHide {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  display: none;
}

/* line 517, ../sass/dbp.scss */
.projectShow {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  pointer-events: auto;
}

/* line 522, ../sass/dbp.scss */
.contentLoaded {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  pointer-events: auto;
}

/* line 528, ../sass/dbp.scss */
.infoIn {
  display: block;
  left: 0%;
  pointer-events: auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 536, ../sass/dbp.scss */
.li_hover1, .li_hover2, .li_hover3 {
  background: #537d7d;
  padding: .2rem;
  padding-left: .5rem !important;
}

/* line 543, ../sass/dbp.scss */
.li_hover2 {
  color: #252525;
  background: #a6fbfa;
}

/* line 548, ../sass/dbp.scss */
.li_hover3 {
  color: #252525;
  background: #a6fbfa;
}

/* line 553, ../sass/dbp.scss */
.spin_hover {
  border: 2px solid white;
  color: #a6fbfa;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* line 559, ../sass/dbp.scss */
.header_in {
  top: 0px;
}

/* line 563, ../sass/dbp.scss */
.footer_in {
  bottom: -10px;
}

/* line 569, ../sass/dbp.scss */
#overlay {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  -webkit-perspective: 800;
  -moz-perspective: 800;
  -ms-perspective: 800;
  -o-perspective: 800;
  perspective: 800;
}

/* line 576, ../sass/dbp.scss */
.tiltRight {
  -webkit-transform: rotateY(10);
  -moz-transform: rotateY(10);
  -ms-transform: rotateY(10);
  -o-transform: rotateY(10);
  transform: rotateY(10);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

/* line 580, ../sass/dbp.scss */
.tiltLeft {
  -webkit-transform: rotateY(-10);
  -moz-transform: rotateY(-10);
  -ms-transform: rotateY(-10);
  -o-transform: rotateY(-10);
  transform: rotateY(-10);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

/* line 587, ../sass/dbp.scss */
#overlay:hover {
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

/* line 598, ../sass/dbp.scss */
.orbit-slides-container {
  height: 100%;
}

/* line 599, ../sass/dbp.scss */
.orbit-container {
  height: 525px;
  position: absolute !important;
}

/* line 601, ../sass/dbp.scss */
a {
  color: #f9ffff !important;
}

@media all and (max-width: 640px) and (min-width: 0px) {
  /* line 606, ../sass/dbp.scss */
  .subtext1, .subtext2 {
    display: none;
  }

  /* line 610, ../sass/dbp.scss */
  .contact, .navitem {
    top: 65px;
  }

  /* line 614, ../sass/dbp.scss */
  .navitem {
    right: 20px;
    top: 40px;
  }

  /* line 619, ../sass/dbp.scss */
  .nav1 {
    right: 20px;
    top: 15px;
  }

  /* line 624, ../sass/dbp.scss */
  footer {
    display: none;
  }
}
