@import "base";
@import "slicknav";

body{
	font-family: 'comfortaaregular';
	height:100%;
	overflow-y:scroll;
	//background: $gradBlack * 2;

	-moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -webkit-perspective: 1000px;
}

p{ font-family: 'comfortaalight'; color:#ffffff; margin:0px; padding:0px; }
h2{  font-family: 'comfortaabold' !important;
	 color: $gold !important;
	 font-size: 1.1em;
	 @include transition(color .3s ease-out);
}
h2:hover{ color: $gold*1.5 !important; }

ul{list-style-type: none; margin:0px; padding:0px;}
li{list-style-type: none; margin:0px; padding:0px;}

.txtGold{ color:$gold;}



header{
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 4;
	top:0px;
	@include transition(top .3s ease-out 1s);
}

footer{
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: -100px;
	z-index: 4;
	@include transition(bottom .3s ease-out  0.1s);
}

/* Viewport */
#viewport, #overlay{
            width:100%;
            height:100%;
            margin:0px ;
            padding: 20px;
            z-index: 1 ;
            
            //@include transform(rotate3d(80, 30, 0));
}

#viewport{
	overflow:hidden;
	position:fixed;
	  height:120%;
}

#overlay{
	z-index: 2;
	position: absolute;
	display:none
}

#wall{
   width:100%;
    height:100%;
    background: #252525;    
}

.tile{
            overflow: hidden;
            opacity:0;
            background: #252525;
            border: 1px solid #212121;
            @include transform(scale(0.2));
            //@include border-radius(30px); 
            @include transition(all 0.4s cubic-bezier(0.175, 0.885, 0.320, 2));
}

.tile:hover{
			// @include border-radius(30px); 
			@include transform(scale(1.3));
            //background: black !important;
            border: 3px solid $gold ;
            z-index: 99;
            cursor: pointer;
            // -webkit-filter: grayscale(100%);
}

.tileIn{
	opacity:1;
	@include transform(scale(1));
}

.img-in{
//	@include transform(scale(2.5));
 @include transform(translateY(100)); 
}


.tileImg{
	//@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 1.875));
	width:100%;
	height:100%;
	//opacity: 0;
}

.tab-info, .title-info{
        	font-size: 10px;
            color: white;
            padding: 12px;
            padding-top:5px;
            background: $grey;
            height: 50px;
            width: 100%;
            position: absolute;
            @include transition(all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.1s);
           
}

.tab-info{
  padding-top:5%;
  bottom:-70%;
  font-size: 14px;
  display: block;
}

.tab-info:hover{
  background: $gold*2;
  color: $grey;
}

.title-info{
 	 bottom:100%;
 	 height: 120%;
 	 padding-top:25%;
 	 font-size: 16px;
 	 @include opacity(0.8);
 	 @include background(linear-gradient(bottom right, $dark, $grey));
 	
}


.tab-in{
            bottom:-7%;
}

.title-in{
            bottom:0px;
}


#prj-sect{
	// position:absolute;
	// z-index: 99;
	padding-top:100px;
}
.brand, .close{
	cursor: pointer;
}

.close{
	right:29px;
	padding-top:20px;
	text-align:right;
}


.imgFeature{
	  position: relative;
       width: 100%;
       padding-bottom: 45%;
       height: 0;
       margin: 0%;
       overflow: hidden;
       background-color: #000;
       border: 1px solid $gold/2; 
       @include transition(all .3s ease-out);
}

.imgFeature:hover{
       border: 1px solid $gold; 
}


.info-sect{
	background:#000000;
	width:100%;
	height:auto;
	position:relative;
	margin-top:15px;
	margin-bottom:25px;
	// padding-top:100px;

	top:100px;
	left:0%;
	display:none;
	pointer-events:none;
	@include opacity(0);
	//@include transform(scale(2));
	@include transition(all .3s ease-in-out);
	@include background(linear-gradient(bottom right, $dark, $grey));
	z-index: 3;
}

.preload{
	position:absolute;
	left:50%;
	top:50%;
	@include transition(all .2s ease-out .8s);
}

.spinner{
	position:absolute;
	border: 1px solid $gold;
	left:50%;
	top:50%;
	margin-top:-20px;
	margin-left:-50px;
	text-align:center;
	line-height:95px;
	font-size:1.3em;
	width:100px;
	height:100px;
	color:white;
	@include border-radius(50%); 
	@include transform(scale(1.6));
	@include transition(all 3s cubic-bezier(0, 1.8, 1, 1.8) 0s);
}


.gradGold{
	 @include background(linear-gradient(top left, $gold, $gold*2));
}

.gradBlack{
	@include background(linear-gradient(top left, $dark, $grey));
	//@include opacity(0.9);
	height:100%;
	width:100%;
	position:absolute;
	z-index: 0;
}

.gradBG{
	@include background(linear-gradient(bottom right, $dark, $grey));
}

.gradBG2{
	@include background(linear-gradient(bottom right, $dark, $gold));
}

#fullbg{
	height:100%;
	width:100%;
	left:0px;
	position:fixed;
	z-index: 2;
	display:none;
	@include opacity(0.9);
	@include background(linear-gradient(bottom right, $dark, $grey));
}

.bgWhite{
	background: white;
}

.minheight{
	min-height: 100px;
}

.margT{
	padding-top: 1.275em;
}

.topbar, .btmbar{
	width: 100%;
	height: 2px;
	position: absolute;
	z-index: 2;
}

.btmbar{
	top:97px;
}



.logo-github{
	width:73px;
	height:30px;
	margin-top:12px;
	right:10px;
	position:absolute;
	@include transition(all .2s cubic-bezier(0, 1.8, 1, 1.8));
}

.logo-tweet{
	width:25px;
	height:20px;
	margin-top:17px;
	right:90px;
	position:absolute;
	@include transition(all .2s cubic-bezier(0, 1.8, 1, 1.8));
}

.logo{
	background: url('../imgs/logoIcon.svg') 0 0; 
	background-size: 100% 100%; 
	position: absolute;
	width: 80px;
	height:70px;
	margin-top: 12px;
    @include transition(all 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) );
}

.subtext1, .subtext2{
	position: absolute;
	top:34px;
	left:100px;
	@include transition(all .4s ease-in-out);
}

.subtext2{
	@include opacity(0);
	color: $gold ;
	font-size:10px;
	top:55px;
}

.contact, .navitem{
	font-family: 'comfortaabold';
	position:absolute;
	text-align:right;
	right:20px;
	top: 40px;
	margin-right:20px;
	cursor:pointer
}

.navitem{
	right:117px;
}

.nav1{
	right:260px;
}
.nav2{
	right:190px;
}
// .nav2{
// 	right:260px;
// }
.navRing{
	border: 1px solid #ffffff;
	width:15px;
	height:15px;
	font-size:11px;
	line-height:10px;
	padding-top:1px;
	padding-left: 2px;
	padding-right: 3px;
	position:absolute;
	top:1px; 
	right: -20px;
	@include border-radius(50%); 
	@include transition(all .2s ease-out);
}

.close .navRing{
	top:20px;
	right:-5px; 
	width:16px;
	height:16px;
	padding-right: 4px;
}


.info{
	width: 27%;
  	left: 50%;
  	margin-left: -17%;
	height: 37%;
	position: absolute;
	padding: 15px;
	padding-top:11%;
	z-index: 2;
	color: #000;
	font-size:1.5em;
	text-align:center;
	line-height:37%;
	@include transition(all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275));
	@include border-radius(50%); 
}

.btm{
	bottom: -50%;
}
.top{
	bottom: 100%;
}

.desc{
	position: absolute;
	top:0%;
	left:-110%;
	z-index: 2;
	width:100%;
	height:102%;
	padding:4%;
	background:#000;
	@include opacity(.8);
	@include transition(all .2s ease-out);
}

#skills1 li,#skills2 li,#skills3 li, #techlist li{
	padding:.2rem;
	padding-top : .4rem;
	padding-bottom : .4rem;
	border-bottom: 1px solid #666666;
	display:block;
	@include transition(all .3s ease-out);
}

#skills1 li:nth-child(even), #skills2 li:nth-child(even), #skills3 li:nth-child(even), #techlist li:nth-child(even){
	border-bottom: 1px solid #333333;
	// background: #111111
}

.logo_hover{
	// background: url('../imgs/logo_head2.png') 0 0; 
	// background-size: 100% 100%; 
	@include transform(scale(1.1));
}


.info_hover{
	@include transform(scale(1.2));
    // background:$dark;
    border: 2px solid white;
    color: $gold/2;
}

.desc_hover{
	left:0%;
	width: 113%;
	height:104%;
}

 .result_hover {
  	bottom: 50%;
  	margin-bottom: -13%;
  	width: 27%;
  	left: 50%;
  	margin-left: -15%;
}

 .img_hover {
  // left: 50%;
  // @include opacity(0);
  @include transform(scale(1.25));
 
  //@include transform(scale(1));
}

.icon_hover{
	
	@include opacity(0.8);
}

.ring_hover{
	color: $gold;
	border: 1px solid $gold/2;
	//background: white;
	@include transform(scale(1.25));
}

.hide{
	display:none;
	@include opacity(0);
}

.show{
	display:inline;
	@include transform(scale(1));
	@include opacity(1);
}

.hideHome{
	//@include rotate3d(200, 0, 300, 0deg);
	//position:absolute;
	//left:-200%;
	// @include transform(scale(2));
	// top:-50%;
	@include opacity(0);
	//@include transform(scale(2));
}

.preloadHide{
	// position:absolute;
	top:-200px !important;
	@include transform(scale(2));
	// border: 1px solid $gold*2;
}

.projectHide{
	@include opacity(0);
	display:none;
}
.projectShow{
	@include opacity(1);
	pointer-events:auto;
}

.contentLoaded{
	//display:inline !important;
	@include opacity(1);
	pointer-events:auto;
}

.infoIn{
	display:block;
	left:0%;
	pointer-events:auto;
	@include opacity(1);
	@include transform(scale(1));
}

.li_hover1, .li_hover2, .li_hover3{
	background: $gold / 2;
	padding:.2rem;
	padding-left: .5rem !important;
	//border-bottom: 1px solid white;
}

.li_hover2{
	color:$grey;
	background: $gold;
}

.li_hover3{
	color:$grey;
	background: $gold;
}

.spin_hover{
	border: 2px solid white;
	color: $gold;
	@include transform(scale(.8));
}

.header_in{
	top:0px;
}

.footer_in{
	bottom:-10px;
}



#overlay{
  -webkit-perspective:800px;
  -moz-perspective:800px;
  -ms-perspective:800px;
  -o-perspective:800px;
  @include perspective(800);
}
.tiltRight{
	@include transform(rotateY(10));
    @include transition(all 1s ease-out);
}
.tiltLeft{
 	@include transform(rotateY(-10));
    @include transition(all 1s ease-out);
}



#overlay:hover{
	// @include transform(rotateY(0));
 //    @include transition(all 1s ease-out);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
 }

//#imgSlider li{ height:525px; }
.orbit-slides-container{ height:100%; }
.orbit-container{ height:525px; position: absolute !important;}

a { color: $gold*1.5 !important; }


// MEDIA QUERY ------------------------------------------------------------------
@media all and (max-width: 640px) and (min-width: 0px) {
	.subtext1, .subtext2{
		display: none
	}

	.contact, .navitem{
		top: 65px;
	}

	.navitem{
		right:20px;
		top: 40px;
	}

	.nav1{
		right:20px;
		top: 15px;
	}

	footer{
		display: none;
	}
}