<section id="contact-sect" class="info-sect">
   <div class="row">
      <div class="large-11 medium-10 small-8 column margB">
        <H2>contacting me</H2>
      </div>
      <div id="close-info" class="large-1 medium-2 small-4 column  margB close">close <div class="navRing"> x </div></div>
     
      <div class="large-12 medium-12 small-12 column  minheight margB"> </div>

       

    </div>

</section>