<section id="info-sect" class="info-sect">
   <div class="row">
      <div class="large-11 medium-10 small-8 column margB">
        <H2>interactive creative web and rich media development</H2>
      </div>
      <div id="close-info" class="large-1 medium-2 small-4 column  margB close">close <div class="navRing"> x </div></div>
      <div class="large-12 medium-12 small-12 column  minheight margB">
        <p>established and run by Josh Freeman,  dbp offers creatively driven digital development which strives to deliver engaging interactive experiences on every project. specialising in creating, developing and bringing your digital ideas, campaigns, or prototypes to life.
access to a vast skill set and technical abilities allow the creation of crafted interactive digital media. working remotely or in-house on studio projects, the dbp setup is flexible to accommodate each project requirement.
experience with all the major ad servers and dbp is a certified studio with DoubleClick</p>
      </div>

       <div class="large-4 medium-4 column margB">
        <H2>technologies</H2>
        <ul id="skills1">
          <li>Javascript OOP</li>
          <li>JQuery</li>
          <li>HTML5 / Canvas</li>
          <li>CSS3</li>
          <li>SASS + COMPASS</li>
          <li>Flash + ActionScript3</li>
          <li>Git</li>
          <li>NodeJS</li>
          <li>WebSockets</li>
        </ul>
      </div>

      <div class="large-4 medium-4 column margB">
        <H2>libraries</H2>
        <ul id="skills2">
          <li>Zurb Foundation </li>
          <li>Tweening libs ( Greensock AS/JS ) </li>
          <li>Pixi.JS</li>
          <li>CreateJS</li>
          <li>ThreeJS</li>
          <li>PhoneGap</li>
          <li>Corona SDK</li>
          <li>Qualcomm AR</li>
        </ul>
      </div>

    <div class="large-4 medium-4 column margB">
        <H2>applications</H2>
        <ul id="skills3">
          <li>Sublime</li>
          <li>SourceTree</li>
          <li>GitHub</li>
          <li>Flash</li>
          <li>After Effects</li>
          <li>Photoshop</li>
          <li>Cinema4D</li>
          <li>Unity3D</li>
        </ul>
      </div>
     

    </div>

</section>