<header>
    <div class="gradBlack"></div>
    <div class="btmbar gradGold"></div>
    <div class="row">
      <div class="large-4 medium-6 small-6 columns brand" id="brand">
        <div class='logo'></div>
        <p class="subtext1">design build play</p>
        <p class="subtext2">interactive creative development</p>  
      </div>

       <div class="large-4 medium-3 small-3 columns">
          <div id="nav0" class='navitem nav1'>work <div class="navRing"> > </div></div>
          <div id="nav2" class='navitem nav2'>lab <div class="navRing"> > </div></div>
          <div id="nav1" class='navitem '>info <div class="navRing"> > </div></div> 
          <div id="nav3" class='contact'>contact <div class="navRing"> > </div></div>
      </div>
    </div>

</header>