

<section id="prj-sect" class="prj-sect">
  

<div class="row topprj">
      <div class="large-11 medium-10 small-8 column margT"><h2> <%= title %> </h2></div>
      <div id="close-prj" class="large-1 medium-2 small-4 column  margB close">close <div class="navRing"> x </div></div>
</div>
<div class="row">

      <div class="large-12 column margT">
         

        <div class="imgFeature">

         <ul id="imgSlider" data-orbit>
            <li>
              <img src="<%= img_large1 %>" alt="slide 1" />
            </li>
            <li>
              <img src="<%= img_large2 %>" alt="slide 2" />
            </li>
            <li>
              <img src="<%= img_large3 %>" alt="slide 3" />
            </li>
          </ul>

        </div>
      </div>
       <div class="large-4 medium-4 column margT ">
        <p class="txtGold">project overview</p>
        <p><%= desc_long %> </p> 
      </div>
      <div class="large-4 medium-4 column margT ">
        <p class="txtGold">tech spec</p>
        <ul id="techlist"></ul>
      </div>

       <div class="large-4 medium-4 column margT ">
        <p class="txtGold">project links</p>
        <p><a href="<%= link %>" target="_blank">view online</a>  </p>
      </div>

      <div class="large-12 column margT minheight"></div>
</div>
</section>